<div class="main_page ">
    <ion-view>
        <ion-content class="homepage">
            <div class="body_content top150 ">
                <div class="main_buttons ">
                    <button ui-sref="root.cheque.step2"><span><img src="img/re_cheque.png"></span>Receive a New Cheque</button>
                </div>
                <div class="row or_text">
                    <div class="col" align="center">
                        <p>OR</p>
                    </div>
                </div>
                <div class="main_buttons">
                    <button ui-sref="root.cheque.payslipStep1"><span><img src="img/payinslip.png"></span>Upload Payin Slip</button>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>
