<?xml version='1.0' encoding='utf-8'?>
<plugin id="maximumResolution" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>maximumResolution</name>
  <js-module name="maximumResolution" src="www/maximumResolution.js">
    <clobbers target="maximumResolution" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="maximumResolution">
        <param name="android-package" value="com.arungas.maximumResolution.maximumResolution" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.FLASHLIGHT" />
    </config-file>
    <source-file src="src/android/maximumResolution.java" target-dir="src/com/arungas/maximumResolution" />
  </platform>
</plugin>
