<ion-view class="invoice_r">
    <div class="bar bar-subheader">
        <h2 class="title">Invoice Review</h2>
    </div>
    <ion-content class="body_content">
        <!-- <ion-scroll direction="x" class="available-scroller"> -->
        <ion-item ng-repeat="item in metadata_list">
            {{item.key}}: {{item.value}}
            <br>
        </ion-item>
        <!-- </ion-scroll> -->
        <div class="btnnext_main">
            <button class="btn-next" ui-sref="root.invoice.step3">Next</button>
        </div>
    </ion-content>
</ion-view>
