<div class="main_page homepage">
    <div class="bar bar-subheader  ">
        <h2 class="title">{{'INVOICE' | translate }}</h2>
    </div>
    <ion-view class="body_content invoice_view invoice_main">
        <ion-content class="scroll_bar ">
            <div class="row">
                <div class="col" align="center">
                    <button class="button" ng-click="scanBarcode()">
                        <div class="invoice_icon_img">
                            <img src="img/qr.png">
                        </div>
                        <p>Scan Code</p>
                    </button>
                </div>
            </div>
            <div class="row or_text">
                <div class="col" align="center">
                    <p>OR</p>
                </div>
            </div>

            <div class="row">
                <div class="col" align="center">
                    <button class="button" ui-sref="root.invoice.step1-1">
                        <div class="invoice_icon_img">
                            <img src="img/enter.png">
                        </div>
                        <p>Enter Manually</p>
                    </button>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>
